/* style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav a {
    color: white;
    padding: 0 30px;
}

section {
    padding: 20px;
    background-color: white; /* White background for content sections */
    margin-bottom: 20px; /* Space between sections */
    border-radius: 8px; /* Rounded corners for sections */
}

#about {
    display: flex; /* Arrange photo and text horizontally */
    align-items: center; /* Vertically align photo and text */
}

#profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Make the photo circular */
    margin-right: 30px;
}

#skills ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    display: flex;  /* Arrange skills horizontally */
    flex-wrap: wrap; /* Allow skills to wrap to the next line */
}

#skills li {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #e9ecef; /* Light gray background for skills */
    border-radius: 5px;
}

#lengs ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    display: flex;  /* Arrange skills horizontally */
    flex-wrap: wrap; /* Allow skills to wrap to the next line */
}

#lengs li {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #e9ecef; /* Light gray background for skills */
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed; 
    bottom: 0;
    width: 100%;
}